body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

section {
  display: grid;
  grid-template-columns: repeat(3, 15vmin); 
  grid-template-rows: repeat(3, 15vmin); 
  gap: 1vmin; 
}

section > div {
  border: 2vmin solid grey; 
}